<footer>
    <div class="card-footer bg-light">
      <div class="row">
        <div class="col">
          <nav class="nav flex-column">
            <a style="font-weight: bold;" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">PRODUCTS</a>
            <a class="nav-link" href="#">Corona</a>
            <a class="nav-link" href="#">Budlight</a>
            <a class="nav-link" href="#">White Claw</a>
            <a class="nav-link" href="#">Modelo</a>                
            <a class="nav-link" href="#">Budlight</a>
            <a class="nav-link" href="#">Best Sellers</a>
            <a class="nav-link" href="#">Sale</a>
          </nav>
        </div>
        <div class="col">
          <nav class="nav flex-column">
            <a style="font-weight: bold;" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">SUPPORT</a>
            <a class="nav-link" href="#">Help</a>
            <a class="nav-link" href="#">Shipping</a>
            <a class="nav-link" href="#">Return & Exchanges</a>
            <a class="nav-link" href="#">Alcohol Safety</a>
            <a class="nav-link" href="#">Addiction Hotline</a>
            <a class="nav-link" href="#">Return & Exchanges</a>


          </nav>
        </div>
        <div class="col">
          <nav class="nav flex-column">
            <a style="font-weight: bold;" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">COMPANY INFO</a>
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#">Careers</a>
            <a class="nav-link" href="#">Press</a>
            <a class="nav-link" href="#">Gift Cards</a>
            <a class="nav-link" href="#">Corona Club</a>
          </nav>
        </div>
      </div>
    </div>
    <div id="footer">
      <p style="color: rgb(153, 153, 153);">USA | Privacy Policy | | Terms and Conditions | &copy 2020 corona</p>
    </div>
  </footer>