<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.11.0/underscore-min.js"></script>
<script src="/javascripts/search.js"></script>

<footer>
    <div class="card-footer bg-light">
      <div class="row">
        <div class="col">
          <nav class="nav flex-column">
            <a style="font-weight: bold;" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">PRODUCTS</a>
            <a class="nav-link" href="#">Corona</a>
            <a class="nav-link" href="#">Budlight</a>
            <a class="nav-link" href="#">White Claw</a>
            <a class="nav-link" href="#">Modelo</a>                
            <a class="nav-link" href="#">Budlight</a>
            <a class="nav-link" href="#">Best Sellers</a>
            <a class="nav-link" href="#">Sale</a>
          </nav>
        </div>
        <div class="col">
          <nav class="nav flex-column">
            <a style="font-weight: bold;" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">SUPPORT</a>
            <a class="nav-link" href="#">Help</a>
            <a class="nav-link" href="#">Shipping</a>
            <a class="nav-link" href="#">Return & Exchanges</a>
            <a class="nav-link" href="#">Alcohol Safety</a>
            <a class="nav-link" href="#">Addiction Hotline</a>
            <a class="nav-link" href="#">Return & Exchanges</a>


          </nav>
        </div>
        <div class="col">
          <nav class="nav flex-column">
            <a style="font-weight: bold;" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">COMPANY INFO</a>
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#">Careers</a>
            <a class="nav-link" href="#">Press</a>
            <a class="nav-link" href="#">Gift Cards</a>
            <a class="nav-link" href="#">Corona Club</a>
          </nav>
        </div>
      </div>
    </div>

    <!-- <div id="footer"> -->
      <div style="color: rgb(153, 153, 153);" id="footerText">USA | Privacy Policy | Terms and Conditions | &copy 2020 corona</div>
    <!-- </div> -->
</footer>

