<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%- include('./partials/scripts.ejs') %>

</head>
<body class="bg-light">

  <%- include('./partials/nav.ejs') %>
  <script src="/javascripts/search.js"></script>
    <div id="items"></div>
  

    <div id="checkout" style="text-align: center; margin-bottom: 1em;">
    </div>
   
    
    <div id="partial"></div>

    <script>
     
    $('#partial').html('');
    $('#partial').append(`<%- include('./partials/footer.ejs') %>`);
    </script>
  
</body>
</html>