<!doctype html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <h1>Corona</h1>
    <h1>Product Details Page</h1>

    <!--Navigation bar (log in, sign up, log out, search)-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="nav-link" href="#">Shopping Cart</a>
        <a class="nav-link" href="#">Logout</a>
<!-- temp -->
        <a class="nav-link" href="/products">products</a>
<!-- temp end -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

</body>
</html>