<!doctype html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <h1>Corona</h1>
    <h1>Product Details Page</h1>

    <!--Navigation bar (log in, sign up, log out, search)-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="nav-link" href="#">Shopping Cart</a>
        <a class="nav-link" href="#">Logout</a>
<!-- temp -->
        <a class="nav-link" href="/products">products</a>
<!-- temp end -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</br>
    <div class = "row">
        <div class="col text-center">
            <h3>Simple Beer. Just Beer</h3>
            <img src="/img/beer_test_img.jpg" class="img-fluid" alt="Responsive image">
        </div>
    
        <div class="col">
        </br></br>
            <p> This is a simple beer. La so ray teela mee latee, la so ray meela mee latee, la so ray 
                sotee mee lamee, la so ray sotee mee dohlasotee, la so ray teemeetee mee teefa, la so ray 
                teemeetee mee meeteesola, la so ray teeso mee Lamee, la so ray teeso mee Sotee, la so ray 
                fafa mee meetee, la so ray meela mee teemeefa...     
                mee somee, ray lalamee so mee so latee ray teedoh lalamee, soso meetee mee la rayfala 
                dohsomeelafa meelalatee so la teefa teelatee, mee doh mee mee teela, mee ray solasolatee 
                teetee mee meesolaso so.</p>
            <div>
                Price
            </div>
            <div class="input-group">
                <input type="number" name="quant[1]" value="1" min="1" max="50">
                <button>Add To Cart</button>
            </div>  
        </div>
    </div>
    
</body>
</html>