<!doctype html>
<html lang = "en">
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <h1>Corona</h1>
    <h1>Product Page</h1>

    <!--Navigation bar (log in, sign up, log out, search)-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="nav-link" href="/shoppingCart">Shopping Cart</a>
        <a class="nav-link" href="#">Logout</a>
<!-- temp -->
        <a class="nav-link" href="/products">products</a>
        <a class="nav-link" href="/productDetails">Product Details</a>
<!-- temp end -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    
    <!--Area for scrolling over product images/prices-->    
    <div class="container">
        <div class = "row">
            <% data.forEach(function(item, index) { %>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <a href="/productDetails">
                      <img src="/img/beer_test_img.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text"><%= item.name %></br><%= item.description %></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            <% }); %>
        </div>
    </div>
        

    <script>

        function PopulatePage() {
            const request = new XMLHttpRequest();

            //I think it should be DB file in the second argument
            /*The optional third parameter sets whether the request is asynchronous.
            If true(the default ), JavaScript execution will continue and the user can
            interact with the page while the server response has yet to arrive.
            */
            request.open("get", "");

            
        }

    </script>

</body>
</html>