<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

</head>
<body class="bg-light">

  <%- include('./partials/nav.ejs') %>

    <!-- <div class="card bg-light mb-3" style="max-width: 40rem; margin: 0 auto;">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div class="">Product Ordered: </div>
          <div class="">Total Price: </div>
          <div class="">Ship to: username</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Product Name</h5>
        <p class="card-text">
          Description of product maybe
        </p>
        <button type="button" class="btn btn-danger btn-sm" value="idk">Delete</button>

      </div>
    </div> -->

    <div id="items">

    </div>

    <%- include('./partials/footer.ejs') %>

    <script>

   

      var items = [];
      items = JSON.parse(localStorage.getItem('productsInCart'));
      $("#items").html("");
      if(items != null){
        let count = 0;
        items.forEach(function(i){
          $('#items').append(`
            <div class="card bg-light mb-3" style="max-width: 40rem; margin: 0 auto;">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div class="">Ordered: ${i.quantity} @ $${i.price}</div>
                  <div class="">Total Price: $${i.price * i.quantity}</div>
                  <div class="">Ship to: username</div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">${i.name}</h5>
                <p class="card-text">${i.description}</p>
                <button type="button" class="btn btn-danger btn-sm remove" value=${count}>Remove</button>
              </div>
            </div>`);
            count++;
        });
      }else{
        $('#items').append(`<div><h2>THERE ARE CURRENTLY NO ITEMS IN YOUR CART</2><div>`);
      }

      $(".remove").on('click', function(){
        console.log($(this).val());
        console.log(items); 
        items.splice($(this).val(),1);
        console.log(items);
        if(items.length >0){
          localStorage.setItem("productsInCart", JSON.stringify(items));
        }
        else{
          localStorage.setItem("productsInCart", null);
        }
        location.reload();

      });
    </script>

    <script>
      $(document).ready(function(){
        
        // function displayItems(){
        //   let cartItems = localStorage.getItem('productsInCart');
        //   cartItems = JSON.stringify(cartItems);

        //   console.log(cartItems);

        //   let productContainer = $(".card-body");
        //   if(cartItems && productContainer){
        //       productContainer.html(``);
        //       Object.values(cartItems).map(item => {
        //           productContainer.innerHtml += `
        //           <div class="card-body">
        //               <h5 class="card-title">${product.name}</h5>
        //               <p class="card-text">
        //                   ${product.description}
        //               </p>
        //               <button type="button" class="btn btn-danger btn-sm">Delete</button>
        //           </div>
        //           `;
        //       });
        //     }
        // }

        //displayItems();
      });
    </script>

</body>
</html>