<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%- include('./partials/scripts.ejs') %>

</head>
<body class="bg-light">

  <%- include('./partials/nav2.ejs') %>
  <script src="/javascripts/search.js"></script>
    <div id="items">

    </div>

    <div id="checkout" style="text-align: center; margin-bottom: 1em;">
    </div>
   

    <div id="partial"></div>

    <script>
    
      var items = [];
      items = JSON.parse(localStorage.getItem('productsInCart'));

      //first time the page loads
      $("#items").html("");
      if(items != null){
          appendItems(items);
          $("#checkout").append(`<button class="btn btn-info" id="checkoutButton">Checkout</button`)
      }
      else{
        $('#items').append(`<div><h2>THERE ARE CURRENTLY NO ITEMS IN YOUR CART</2><div>`);
      }
      
      //when the user removes an item 
      $("#items").on('click', ".remove", function(){
        if($(this).val() >= 0 && $(this).val() != ""){
          //splicing does the deletion for us
          items.splice($(this).val(),1);
          //if there are items in the cart after deletion, reappend the new data
          if(items.length > 0){
            localStorage.setItem("productsInCart", JSON.stringify(items));
            items = JSON.parse(localStorage.getItem('productsInCart'));
            $("#items").html("");
            appendItems(items);
          }//else append the message saying there are no more items and set localstorage to null
          else{
            $("#items").html("");
            $('#items').append(`<div><h2>THERE ARE CURRENTLY NO ITEMS IN YOUR CART</h2><div>`);
            localStorage.setItem("productsInCart", null);
            $("#checkout").html("");
          }
        }
      });

      //function used to append items on start and when deleting an item
      function appendItems(items){
        //count is used to assign the value of the button equal to the index of the localstorage array 
        //also used to change the values when something is deleted
        let count = 0;
        items.forEach(function(i){
          $('#items').append(`
            <div class="card bg-light mb-3" style="max-width: 40rem; margin: 0 auto;">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div class="">Ordered: ${i.quantity} @ $${i.price}</div>
                  <div class="">Total Price: $${i.price * i.quantity}</div>
                  <div class="">Ship to: username</div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">${i.name}</h5>
                <p class="card-text">${i.description}</p>
                <button type="button" class="btn btn-danger btn-sm remove" value=${count}>Remove</button>
              </div>
            </div>`);
            count++;
          });
      }
      $("#checkoutButton").on('click', function(){
        console.log('clicked checkout');
        var totalPrice = 0;
        items.forEach(function(i){
          updateItem(i.name, i.quantity);
          // totalPrice+=i.price*i.quantity;
        });
        
           
      });
      function updateItem(n, q){
        console.log(n);
        let updatedItem = 
        {
          productName: n,
          quantityToBeRemoved: q
        }
        $.ajax({
                  url: "/products/",
                  type: "PATCH",
                  contentType: "application/json",
                  data: JSON.stringify(updatedItem),
                  success: function (data) {
                  },
              });           
      }
    $('#partial').html('');
    $('#partial').append(`<%- include('./partials/footer.ejs') %>`);
    </script>
    <script>
      $(document).ready(function(){
        
        // function displayItems(){
        //   let cartItems = localStorage.getItem('productsInCart');
        //   cartItems = JSON.stringify(cartItems);

        //   console.log(cartItems);

        //   let productContainer = $(".card-body");
        //   if(cartItems && productContainer){
        //       productContainer.html(``);
        //       Object.values(cartItems).map(item => {
        //           productContainer.innerHtml += `
        //           <div class="card-body">
        //               <h5 class="card-title">${product.name}</h5>
        //               <p class="card-text">
        //                   ${product.description}
        //               </p>
        //               <button type="button" class="btn btn-danger btn-sm">Delete</button>
        //           </div>
        //           `;
        //       });
        //     }
        // }

        //displayItems();
      });
    </script>
  
</body>
</html>